Repository aeturrell/skimpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        exclude: docs/
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        exclude: docs/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        exclude: docs/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: reorder-python-imports
        exclude: docs/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
      - id: trailing-whitespace
        exclude: docs/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.0
    hooks:
      - id: prettier
        exclude: docs/
  - repo: https://github.com/kynan/nbstripout
    rev: 0.4.0
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        entry: nbstripout
        language: python
        types: [jupyter]

remove docs build test
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

Doc tests, closes #61
  CONTRIBUTING.md
  codecov.yml
  poetry.lock
  pyproject.toml
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

add column name to datatype tables
  poetry.lock
  pyproject.toml
  src/skimpy/__init__.py
Due: black, check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

added support for 3.10
  CONTRIBUTING.md
  Makefile
  README.md
  docs/contributing.html
  docs/index.html
  docs/search.json
  img/skimpy_example.png
  index.ipynb
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

venv ignored
  .gitignore
  poetry.lock
Due: end-of-file-fixer, trailing-whitespace

added logo, updated documentation
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  clean_readme.py
  docs/contributing.html
  docs/index.html
  docs/index_files/figure-html/cell-2-output-1.png
  docs/search.json
  index.ipynb
  logo.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

fixing safety issues
  .cookiecutter.json
  clean_readme.py
  logo.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

updating test action
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

3.10 needs quotes
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

prettier pre-commit fail fix
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

v 0.0.6 update
  poetry.lock
  pyproject.toml
  src/skimpy/__init__.py
Due: black, check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

toml version update
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

updated docs
  CONTRIBUTING.md
  Makefile
  README.md
  docs/contributing.html
  docs/index.html
  docs/search.json
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

update pkgs & use poetry run nox in place of nox
  .github/workflows/tests.yml
  CONTRIBUTING.md
  README.md
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

rm poetry run from nox coverage as xml arg failed
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

Update documentation
  _sources/contributing.md
  _sources/index.ipynb
  contributing.html
  index.html
  searchindex.js
Due: end-of-file-fixer, trailing-whitespace

source badge
  .pre-commit-config.yaml
  README.md
  docs/contributing.md
  docs/index.ipynb
Due: check-yaml, end-of-file-fixer, trailing-whitespace

minor fix to issue with warning from pandas
  README.md
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

updating contributing for post quarto world
  docs/contributing.md
Due: none

readme warnings removed
  README.md
  poetry.lock
Due: end-of-file-fixer, trailing-whitespace

Update documentation
  .buildinfo
  _modules/skimpy.html
  _sources/contributing.md
  _static/styles.css
  contributing.html
  index.html
  searchindex.js
Due: end-of-file-fixer, trailing-whitespace

new version; 0.0.7
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

adding citation, closes Add citation #301
  README.md
  docs/contributing.md
  docs/index.ipynb
Due: end-of-file-fixer, trailing-whitespace

Update documentation
  .buildinfo
  _modules/skimpy.html
  _sources/contributing.md
  _sources/index.ipynb
  _static/styles.css
  contributing.html
  index.html
  searchindex.js
Due: end-of-file-fixer, trailing-whitespace

added copying to avoid unintended data change err
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

0.0.8
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Update documentation
  _modules/skimpy.html
  api.html
  searchindex.js
Due: end-of-file-fixer, trailing-whitespace

roll back virtualenv to most recent release
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

rolling back virtualenv due to win issue
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

Update docs __init__.py
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

remove clean col message
  .gitignore
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

long col names now wrap; there is max col width
  .gitignore
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

added test for readme execution
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

pre commit
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

pandas2 req
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

closes Consider Pandas 2.0+ support? #451
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

Update documentation
  .buildinfo
  _modules/index.html
  _modules/skimpy.html
  _sources/index.ipynb
  _sphinx_design_static/design-style.4045f2051d55cab465a707391d5b2007.min.css
  _sphinx_design_static/design-style.b7bb847fb20b106c3d81b95245e65545.min.css
  _static/_sphinx_javascript_frameworks_compat.js
  _static/basic.css
  _static/design-style.4045f2051d55cab465a707391d5b2007.min.css
  _static/doctools.js
  _static/documentation_options.js
  _static/jquery-3.6.0.js
  _static/jquery.js
  _static/language_data.js
  _static/mystnb.4510f1fc1dee50b3e5859aac5469c37c29e427902b24a333a5f9fcb2f0b3ac41.css
  _static/searchtools.js
  _static/styles/furo.css
  _static/styles/furo.css.map
  api.html
  code_of_conduct.html
  contributing.html
  genindex.html
  index.html
  search.html
  searchindex.js
Due: end-of-file-fixer, trailing-whitespace
