Repository aeturrell/skimpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        exclude: docs/
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        exclude: docs/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        exclude: docs/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: reorder-python-imports
        exclude: docs/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
      - id: trailing-whitespace
        exclude: docs/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.0
    hooks:
      - id: prettier
        exclude: docs/
  - repo: https://github.com/kynan/nbstripout
    rev: 0.4.0
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        entry: nbstripout
        language: python
        types: [jupyter]

jupyter only as dev dependency
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

initial quarto docs working
  .github/workflows/tests.yml
  .gitignore
  docs/.gitignore
  docs/_config.yml
  docs/_quarto.yml
  docs/_toc.yml
  docs/api.rst
  docs/code_of_conduct.qmd
  docs/contributing.qmd
  docs/features.ipynb
  docs/index.ipynb
  docs/objects.json
  docs/references.bib
  docs/styles.css
  noxfile.py
  poetry.lock
  pyproject.toml
  src/skimpy/__init__.py
Due: black, check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

started to move make to new docs production
  Makefile
  docs/features.ipynb
Due: end-of-file-fixer, trailing-whitespace

make now works for docs
  Makefile
  README.md
  docs/.gitignore
Due: end-of-file-fixer, trailing-whitespace

final steps before publish
  README.md
  docs/contributing.qmd
  docs/features.ipynb
  docs/index.ipynb
Due: end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  features.html
  index.html
  search.json
  sitemap.xml
Due: end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  sitemap.xml
Due: end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  contributing.html
  features.html
  index.html
  search.json
  sitemap.xml
Due: end-of-file-fixer, trailing-whitespace

done; new docs work :rocket:
  Makefile
  README.md
  docs/contributing.qmd
Due: end-of-file-fixer, trailing-whitespace

fix for publish in makefile
  Makefile
  docs/contributing.qmd
Due: end-of-file-fixer, trailing-whitespace

0.0.12
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

API changes made and simple tests pass
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

updating docs for new API
  docs/_quarto.yml
  docs/features.ipynb
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

match pattern fix for py 3.9 and below
  docs/objects.json
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

attempted fix for py <3.10
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

sticking with 3.9 format
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

reformat
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

remove extraneous dep
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

Built site for gh-pages
  .nojekyll
  contributing.html
  features.html
  index.html
  reference/clean_columns.html
  reference/index.html
  reference/skim.html
  reference/skim_get_data.html
  reference/skim_get_figure.html
  reference/skim_polars.html
  search.json
  sitemap.xml
Due: end-of-file-fixer, trailing-whitespace

Built site for gh-pages
  .nojekyll
  features.html
  index.html
  reference/skim_polars.html
  robots.txt
  search.json
  sitemap.xml
Due: end-of-file-fixer, trailing-whitespace

m file fix
  Makefile
Due: end-of-file-fixer, trailing-whitespace

0.0.13
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

fix save path error
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

0.0.14
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Update README.md to remove extra word.
  README.md
Due: end-of-file-fixer, trailing-whitespace

remove jupyter book as now using quarto for docs
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

remove jp-book, switch from black to ruff
  .pre-commit-config.yaml
  clean_readme.py
  docs/logo.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/skimpy/__init__.py
  src/skimpy/__main__.py
  tests/test_main.py
Due: black, check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

clear error for case where column is multi-index.
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

updating to make polars truly optional
  docs/index.ipynb
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

reversing too-complicated polars optionality due to typing
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

intended to close Error for .clean_columns with polars #693
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

rounding to 4 sf for numerical to catch edge case of integer years closes #703
  README.md
  docs/features.ipynb
  docs/index.ipynb
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

further embedding switch to ruff
  .darglint
  .flake8
  .pre-commit-config.yaml
  docs/features.ipynb
  docs/index.ipynb
  docs/logo.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

attempt to fix coverage issues
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

name to pattern in line with migration advice
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

increasing coverage
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace
