Repository aeturrell/skimpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Built site for gh-pages
  .nojekyll
  features.html
  index.html
  reference/clean_columns.html
  search.json
Due: end-of-file-fixer, trailing-whitespace

v0.0.15
  README.md
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

loosening polars constraints
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

deptry added to deps & passes; not in actions
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

deptry added to precommit (uses extend include)
  .pre-commit-config.yaml
  pyproject.toml
Due: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

given controversies, remove safety
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

pyarrow required for full functionality
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

adding version info
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

tidying up
  .pre-commit-config.yaml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

updating version in citation
  CITATION.cff
Due: end-of-file-fixer, trailing-whitespace

trying to fix deptry in actions precommit
  .pre-commit-config.yaml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

further attempts to get deptry working in actions precommit
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

attempting to get deptry working in precommit actions
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

reverting non-fix
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

added version; removed safety
  noxfile.py
  poetry.lock
  pyproject.toml
  src/skimpy/__init__.py
Due: black, check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

Update tests.yml to remove safety
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

throwaway unused json_data
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

don't round COMPLETE_COL
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

uv first steps
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  noxfile.py
  pyproject.toml
  uv.lock
Due: black, check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

amending GH Actions tests python versions
  noxfile.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

fixing artifact name
  noxfile.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

attempts to fix coverage
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

reminding to find hidden files
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

mypy fixes
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

check versions nox coverage with uv run
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

another fixing coverage attempt
  noxfile.py
  poetry.lock
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

ignore tests in coverage
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

made up option removed for coverage
  noxfile.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

fully exclude tests from coverage
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

yet further attempts fix coverage
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
Due: black, check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

end of file fixer
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

another cov attempt
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

switch release action to uv
  .github/workflows/release.yml
  .github/workflows/tests.yml
  version_bumper.py
Due: black, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

pre commit fix
  .github/workflows/release.yml
  version_bumper.py
Due: black, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

using non-deprecated datetime tz aware checker
  docs/features.ipynb
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

hygiene improvements
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

Fixing bug where 1st col is all nans
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

More analysis for strings Add shortest/longest for string and min/max for numbers/string #840
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

have site update when there's a new release
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Makefile
  README.md
  docs/contributing.qmd
  docs/index.ipynb
  uv.lock
Due: check-yaml, end-of-file-fixer, trailing-whitespace

Another attempt to fix unicode histogram issues
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: \.py$, but not: docs/
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$, but not: docs/
  end-of-file-fixer: any file but: docs/
  reorder-python-imports: any of: \.py$, but not: docs/
  trailing-whitespace: any file but: docs/
