Repository aeturrell/skimpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        exclude: docs/
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        exclude: docs/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        exclude: docs/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: reorder-python-imports
        exclude: docs/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
      - id: trailing-whitespace
        exclude: docs/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.0
    hooks:
      - id: prettier
        exclude: docs/
  - repo: https://github.com/kynan/nbstripout
    rev: 0.4.0
    hooks:
      - id: nbstripout
        name: nbstripout
        description: "nbstripout: strip output from Jupyter and IPython notebooks"
        entry: nbstripout
        language: python
        types: [jupyter]

updated docs (os badges)
  README.md
  docs/index.ipynb
Due: end-of-file-fixer, trailing-whitespace

closes #454, #386
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

removing bad print statement / precommit
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

v0.0.9
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

workflow constrain update
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

click, mplotlib, nox updates
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

matplotlib only once
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

update process pkg release
  docs/contributing.md
Due: none

furo working
  README.md
Due: end-of-file-fixer, trailing-whitespace

pre commit prefers mrkdown one way
  README.md
Due: end-of-file-fixer, trailing-whitespace

more tests
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

rounding tests
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

removing defunct function
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

removing round dataframe defunct f from tests
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

dial down coverage a bit
  codecov.yml
  docs/contributing.md
  pyproject.toml
Due: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

rounding of long numbers in complete col
  README.md
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

0.0.10
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

basic error in cols in str summary; closes #482
  src/skimpy/__init__.py
  src/skimpy/__main__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

half and unity unicode blocks gone p50 added #374
  README.md
  docs/index.ipynb
  poetry.lock
  pyproject.toml
  src/skimpy/__init__.py
Due: black, check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

tests changed to reflect unicode block changes
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

datetime.date tested and working
  README.md
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

clarity over unsupported types; coverage imprvment
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

all bad col names tested now
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

working version but some typing issues
  poetry.lock
  pyproject.toml
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

attempt to fix typing issues
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

more custom carve outs for earlier py versions
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

yet more typing fun
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

mypy ignore some lines
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

pre commit comment issue
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

upgrading typeguard to latest
  poetry.lock
  pyproject.toml
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

adding polars support
  poetry.lock
  pyproject.toml
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, check-toml, end-of-file-fixer, reorder-python-imports, trailing-whitespace

Update documentation
  .buildinfo
  _modules/index.html
  _modules/skimpy.html
  _sources/api.rst
  _sources/contributing.md
  _sources/index.ipynb
  _static/basic.css
  _static/copybutton.css
  _static/copybutton.js
  _static/copybutton_funcs.js
  _static/pygments.css
  _static/styles/furo.css
  _static/styles/furo.css.map
  api.html
  code_of_conduct.html
  contributing.html
  genindex.html
  index.html
  objects.inv
  search.html
  searchindex.js
Due: end-of-file-fixer, trailing-whitespace

timedelta rounding; readme
  README.md
  docs/api.rst
  docs/index.ipynb
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

0.0.11
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Update documentation
  _modules/skimpy.html
  index.html
  searchindex.js
Due: end-of-file-fixer, trailing-whitespace

export to svg, closes #529
  poetry.lock
  src/skimpy/__init__.py
  tests/test_main.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

Create CITATION.cff
  CITATION.cff
Due: end-of-file-fixer, trailing-whitespace

Update constraints.txt with space
  .github/workflows/constraints.txt
Due: end-of-file-fixer, trailing-whitespace

now ruff cleared
  src/skimpy/__init__.py
Due: black, end-of-file-fixer, reorder-python-imports, trailing-whitespace

added feature of exporting data to docs
  README.md
  docs/index.ipynb
Due: end-of-file-fixer, trailing-whitespace
